
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* COMMONS*/
body{
    font-family: Montserrat;
    font-size: 16px;
    background-color: #003400;
}
h1{
    font-size: 28px;
    color: #E8B007;
}
a{
    text-decoration: none;

}
section,
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
}

/* HEADER*/
section.header {
    width: 100%; /* Ocupa toda a largura */
    margin: 0 auto; /* Centraliza horizontalmente */
    padding: 40px 0 0 30px; /* Remove espaçamento interno */
}

section.header img {
    width: 60%; /* Largura total do container (600px definido no section) */
    max-height: 300px; /* Altura máxima ajustável */
    }

/*LINKS*/
section.links .link-item {
    width: 100%;
    margin-bottom: 16px;
}
section.links .link-item a{
    display: block;
    width: 100%;
    border: 1px #000 solid;
    padding:16px 0px;
    text-align: center;
    color: #000;
    border-radius: 180px;
    box-shadow: 4px 4px rgb(0,0,0);
    background-color: #e2d7a7;
}

/* FOOTER */
footer {
    background-color: #002200; /* Cor de fundo desejada */
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a {
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

footer .instagram {
    color: #e0b100;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

footer .creditos {
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    text-align: center;
}




